// Section 1

h1 {
    font-family: $font-title;
    font-size: 2.571rem;
    font-weight: 500;
    color: $blue;
}

.text-box a {
    @include button;
}

// Section 2

#section-2 .text-two {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.number {
    font-family: $font-title;
    font-size: 1.714rem;
    font-weight: 500;
    color: $blue;
    margin-bottom: 0;
}

// Section 3

.text-three h3,
.text-three p {
    text-align: center;
}

// Section 4

.text-four a {
    @include button;
}

// Section 5

video {
    width: 100%;
}

// Section 6

#section-6 {
    background-color: $blue;
    padding-bottom: 2rem;
    h2 {
        color: white;
        padding-top: 2rem;
        text-align: center;
    }
    p {
        color: white;
        text-align: center;
        padding-bottom: 1rem;
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons a {
    @include button;
    width: 9rem;
    background-color: $blue;
    border: 3px solid white;
    &:hover {
        background-color: white;
        border: none;
        color: $blue;
    } 
}
