@mixin button {
    font-family: $font-title;
    font-size: 1.142rem;
    font-weight: 400;
    color: white;
    background-color: $light-blue;
    text-decoration: none;
    display: block;
    width: 11rem;
    padding: .6rem 0;
    text-align: center;
}